html {
	background: #eee;
}
main {
	background: #fff;
	margin: 0px 500px;
	text-align: center;
	padding: 0px;

}
h1 {
	margin: 0px;
	text-align: center;
	background: grey;
	font-weight: bolder;
}
h2{
	font-weight: bold;
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
	font-weight: normal;
}
dt {
	font-size: 1.25em;
}
ul {
	text-decoration: none;
	list-style-type: none;

}
li {
	

}